@tailwind base;
@tailwind components;

@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat.woff) format("woff");
  font-display: swap;
};

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swapp');

html {
  font-family: "Inter", sans-serif;
};

@tailwind utilities;
